In [1]:
import pandas as pd
import json
import osdf.label.unique() #['SUPPORTS', 'REFUTES']
df.groupby(['label']).count()

In [10]:
path = '/Users/ns5kn/Documents/insight/projects/factcc/data/processed/paired_data/data-original/data-train.jsonl'

with open(path) as f:
            dataset = [json.loads(line) for line in f]

In [14]:
print(type(dataset))

print(dataset[0].keys())
# ['id', 'claim', 'label', 'extraction_span', 'backtranslation', 'augmentation', 'augmentation_span', 'noisy', 'filepath', 'text']


print(len(dataset)) 
# 1,880,000

<class 'list'>
dict_keys(['id', 'claim', 'label', 'extraction_span', 'backtranslation', 'augmentation', 'augmentation_span', 'noisy', 'filepath', 'text'])
1880000

In [17]:
df = pd.DataFrame(dataset, columns =['id', 'claim', 'label', 'extraction_span', 'backtranslation', 'augmentation', 'augmentation_span', 'noisy', 'filepath', 'text'], dtype = float)

In [58]:

df.head(2)
# df.label.unique() #


# pd = df[['id', 'text', 'claim', 'label']]

# pd.head(2)

,id,claim,label,extraction_span,backtranslation,augmentation,augmentation_span,noisy,filepath,text
0,dailymail-train-98b5283a4dba2f9d0305c8bde23e0d...,Eleven of the 25 evaluable ovarian cancer pati...,SUPPORTS,"[363, 394]",1.0,None,None,0.0,cnndm/dailymail/stories/98b5283a4dba2f9d0305c8...,"By Leon Watson PUBLISHED: 14:06 EST, 4 June 20..."
1,dailymail-train-849aa2e0f45a0351d120385a20ab91...,"Town councillor Alliance, said: : 'We have the...",REFUTES,"[227, 254]",0.0,EntitySwap,"[2, 2]",0.0,cnndm/dailymail/stories/849aa2e0f45a0351d12038...,"By Anna Edwards PUBLISHED: 09:38 EST, 21 Janua..."

In [22]:
df.noisy.unique() #['SUPPORTS', 'REFUTES']
df.groupby(['noisy']).count()

,id,claim,label,extraction_span,backtranslation,augmentation,augmentation_span,filepath,text
noisy,,,,,,,,,
0.0,1880000,1880000,1880000,1880000,1880000,940129,940129,1880000,1880000

In [41]:
# 939871 (~1/2) of the data has no augmentation applied to them. 1/2 had some sort of augmentation
# NegateSentences    276798
# EntitySwap         271064
# PronounSwap        223532
# NumberSwap         168735

df.augmentation.unique() #[None, 'EntitySwap', 'NegateSentences', 'PronounSwap', 'NumberSwap']
df['augmentation'].nunique()
df['augmentation'].value_counts()

df['augmentation'].isnull().sum()

NegateSentences    276798
EntitySwap         271064
PronounSwap        223532
NumberSwap         168735
Name: augmentation, dtype: int64

In [43]:
sample_train = df.sample(frac=0.1, replace=True, random_state=1)

sample_train.to_csv('/Users/ns5kn/Documents/insight/projects/factcc/data/interim/sample_train.csv', header = True)

In [47]:
train = pd.read_csv('/Users/ns5kn/Documents/insight/projects/factcc/data/interim/sample_train.csv')

In [57]:
len(train) #188000
train['label'].value_counts()

# REFUTES     94362
# SUPPORTS    93638

# train[train['lable'] == 'REFUTES'] = 1 

train.head(2)

,id,claim,label,extraction_span,backtranslation,augmentation,augmentation_span,noisy,filepath,text
128037,dailymail-train-abfb525a27d4a145462d3448bcaa5c...,How could it go wrongwrong?',SUPPORTS,"[482, 488]",0.0,NaN,NaN,0.0,cnndm/dailymail/stories/abfb525a27d4a145462d34...,Zesty: Old Bay seasoning will be added to the ...
491755,dailymail-train-2c37a7130f437c2beb4fa0f60e2366...,they they went spearfishing off off the wester...,SUPPORTS,"[666, 678]",0.0,NaN,NaN,0.0,cnndm/dailymail/stories/2c37a7130f437c2beb4fa0...,"By Richard Shears PUBLISHED: 05:49 EST, 29 Jul..."

In [2]:
import json
path = '/Users/ns5kn/Documents/insight/projects/factcc/data/processed/paired_data/manual/val_manual.jsonl'

with open(path) as f:
            dataset = [json.loads(line) for line in f]

In [5]:
print(dataset[1].keys())


# import pandas as pd

# d = pd.DataFrame(dataset, columns = ['claim', 'label', 'filepath', 'id', 'text'])

dict_keys(['claim', 'label', 'filepath', 'id', 'text'])

In [9]:
import json
path = '/Users/ns5kn/Documents/insight/projects/factcc/data/processed/paired_data/data-clipped/data-train.jsonl'

with open(path) as f:
            dataset = [json.loads(line) for line in f]

In [10]:
print(dataset[1].keys())

dict_keys(['label', 'noise', 'backtranslation', 'extraction_span', 'claim', 'augmentation', 'augmentation_span', 'id', 'filepath', 'text'])